In [2]:
#Python Tuples
#Tuples are used to store multiple items in a single variable.
#Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.
#A tuple is a collection which is ordered and unchangeable.
#Tuples are written with round brackets.

#Example

tuple = ("apple", "banana", "cherry")
print(tuple)

('apple', 'banana', 'cherry')

In [3]:
#Tuple Items
#Tuple items are ordered, unchangeable, and allow duplicate values.

#allow duplicate values.
tuple = ("apple", "banana", "cherry", "apple", "cherry")
print(tuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [6]:
#Tuple Length
#To determine how many items a tuple has, use the len() function:

#Example

tuple = ("apple", "banana", "cherry")
len(tuple)

3

In [7]:
#Create Tuple With One Item
#To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

#Example

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [8]:
#Tuple Items - Data Types
#Tuple items can be of any data type:

#Example

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
#A tuple can contain different data types:

#Example
#A tuple with strings, integers and boolean values:

tuple1 = ("abc", 34, True, 40, "male")

In [9]:
#type()
#From Python's perspective, tuples are defined as objects with the data type 'tuple':

mytuple = ("apple", "banana", "cherry")
type(mytuple)

tuple

In [12]:
#The tuple() Constructor
#It is also possible to use the tuple() constructor to make a tuple.

#Example

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

TypeError: 'tuple' object is not callable