In [ ]:
#Python For Loops
#A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
#This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.
#With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [1]:
#Example 1

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [2]:
#Example 2

Number=[21,2,32,4]
for x in Number:
    print(x)

21
2
32
4

In [3]:
#Example 3

for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
#Example 4

for char in "Hello":
    print(char)

H
e
l
l
o

In [5]:
#Example 5

person = {"name": "John", "age": 30, "city": "New York"}
for key in person:
    print(key)

name
age
city

In [6]:
#Examle 6

person = {"name": "John", "age": 30, "city": "New York"}
for key, value in person.items():
    print(key, ":", value)

name : John
age : 30
city : New York

In [7]:
#Examle 7

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in numbers:
    if num % 2 == 0:
        print(num, "is even")
    else:
        print(num, "is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [9]:
#Examle 8

for i in range(5):
    for j in range(i + 1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [10]:
#Examle 9

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in numbers[::2]:  
    print(num)

1
3
5
7
9

In [11]:
#Examle 10

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in numbers:
    if num == 6:
        break
    print(num)

1
2
3
4
5