What is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [15]:
#Example

import pandas as pd
a = [1, 7, 2,6,3]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
3    6
4    3
dtype: int64

Labels
If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [16]:
#Example
#Return the first value of the Series:

print(myvar[3])

6

Create Labels
With the index argument, you can name your own labels.

In [20]:
#Example
#Create your own labels:

import pandas as pd
a = [1, 7, 2,6,8]
myvar = pd.Series(a, index = ["x", "y", "z","a","b"])
print(myvar)

x    1
y    7
z    2
a    6
b    8
dtype: int64

In [22]:
#When you have created labels, you can access an item by referring to the label.

#Example
#Return the value of "y":

print(myvar["a"])

6

Key/Value Objects as Series
You can also use a key/value object, like a dictionary, when creating a Series.

In [6]:
#Example
#Create a simple Pandas Series from a dictionary:

import pandas as pd
list = {"Day1": 420, "Day2": 380, "Day3": 390,"Day4":400}
myvar = pd.Series(list)

print(myvar)

Day1    420
Day2    380
Day3    390
Day4    400
dtype: int64

In [28]:
#Note: The keys of the dictionary become the labels.
#To select only some of the items in the dictionary, use the index argument and specify only the items you want to include in the Series.

#Example

import pandas as pd
calories =  {"Day1": 420, "Day2": 380, "Day3": 390,"Day4":400}
myvar = pd.Series(calories, index = ["Day1", "Day2"])
print(myvar)

Day1    420
Day2    380
dtype: int64

In [30]:
#DataFrames
#Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
#Series is like a column, a DataFrame is the whole table.

#Example
#Create a DataFrame from two Series:

import pandas as pd
data = {
  "calories": [420, 380, 390,400],
  "duration": [50, 40, 45,55]
}
myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45
3       400        55

In [33]:
#operations
# Slicing Series
print(s[1:3])

1    2
2    3
dtype: int64

In [34]:
# Arithmetic operations
print(s + 10)
print(s * 2)

0    11
1    12
2    13
3    14
4    15
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64

In [35]:
# Mathematical functions
print(s.mean())
print(s.max())

3.0
5

In [36]:
#Conditional

# Selecting elements based on condition
print(s[s > 2])

2    3
3    4
4    5
dtype: int64

In [37]:
# Sorting Series
print(s.sort_values())

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [38]:
# Handling missing data
s_with_na = pd.Series([1, 2, None, 4, 5])
print(s_with_na.dropna())  # Drop NaN values

0    1.0
1    2.0
3    4.0
4    5.0
dtype: float64

In [39]:
# Applying functions
print(s.apply(lambda x: x ** 2))

0     1
1     4
2     9
3    16
4    25
dtype: int64